.container {
  max-height: 1000px;
  padding: 20px;
  border-radius: 5%;
}

.form {
  margin: 0 auto;
  background-color: #fff;
  max-width: 600px;
  text-align: center;
}

.form__label {
  font-weight: bold;
  max-width: 700px;
  background-color: #fff;
}

.form__labelEqual {
  padding: 0px 5px;
}

.form__labelRates {
  font-size: small;
  font-style: italic;
  text-decoration: underline;
  color: #009999
}

.form__labelRates:hover {
  background-color: #00ffff;
}

.form__button {
  color: #fff;
  background-color: hsl(180, 100%, 30%);
  border-style: none;
  padding: 0 40%;
  transition: 1s;
}

.form__button:hover {
  background-color: hsl(180, 100%, 40%);
  transform: scale(1.1);
}

.form__button:disabled {
  color: #aaa;
  background-color: #fff;
  border-style: solid;
}